<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%; background-color: lightgray;">
    <form (ngSubmit)="login()">
      <h2 class="text-center mb-4">Login</h2> 
      <div class="mb-3">
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="input-group mb-3">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          class="form-control"
          placeholder="Senha"
          id="exampleInputPassword1"
          [(ngModel)]="password"
          name="password"
          required
        />
        <button
        type="button"
        class="btn btn-outline-secondary btn-password-toggle"
        (click)="togglePasswordVisibility()"
        aria-label="Mostrar ou ocultar senha"
      >
        <i class="bi" [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
      </button>
      </div>
      <button style="width: 100%;" class="btn btn-primary" type="submit">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
        <span *ngIf="!isLoading">Entrar</span>
      </button>
    </form>
  </div>
</div>
